{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
<div class="contenido" style="display:grid;grid-template-columns: 3fr 1fr;">
    <div class="container">
      <div class="row">
        {% for producto in productos %}
        <div class="col-md-3">
            <div class="card" style="width:100% ;margin:10px 10px">
              <img class="card-img-top" src="{{producto.img.url}}" alt="" style="object-fit:cover;">
              <div class="car-body" style="text-align:center">
                <h2 class="card-title">{{producto.nombre}}</h2>
                <p class="card-text">{{producto.precio}}</p>
              </div>
              <div class="card-footer text-center">
                <a href="{% url 'Agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
              </div>
          </div>
        </div>
        {% endfor %}
      </div> 
    </div>
    <div class="carrito" style="margin:15px">
      {% include 'carro/widget.html' %}
  </div>
  </div>
<section>
    <div>
        <div style="text-transform: uppercase;color:white;text-align:center">Categorias:  {{categoria.nombre}}<a href="{% url 'Tienda' %}">Volver</a></div>
    </div>     
</section>
{% endblock %}
